.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
*.dll
# Ignore specific directories under windows-amd64
windows-amd64/source/
windows-amd64/lib/
windows-amd64/java/
# Ignore specific directories under macos-aarch64
macos-aarch64/source/